<table class="season-table" *ngIf="!ergastService.isLoading">
  <thead class="season-table-head">
  <tr>
    <th>Round</th>
    <th>Name</th>
    <th>Date</th>
    <th>Location</th>
    <th>Driver</th>
    <th>Constructor</th>
  </tr>
  </thead>
  <tbody class="season-table-body">
  <tr *ngFor="let race of races">
    <td [ngClass]="race.Results[0].Driver.isWinner ? 'season-table-row-winner' : ''">{{race.round}}</td>
    <td [ngClass]="race.Results[0].Driver.isWinner ? 'season-table-row-winner' : ''"><a href="{{race.url}}">{{race.raceName}}</a></td>
    <td [ngClass]="race.Results[0].Driver.isWinner ? 'season-table-row-winner' : ''">{{race.date}}</td>
    <td [ngClass]="race.Results[0].Driver.isWinner ? 'season-table-row-winner' : ''">{{race.Circuit.Location.country}}</td>
    <td [ngClass]="race.Results[0].Driver.isWinner ? 'season-table-row-winner' : ''" ><a href="{{race?.Results[0].Driver?.url}}">{{race?.Results[0].Driver?.givenName}} {{race?.Results[0].Driver?.familyName}}</a></td>
    <td [ngClass]="race.Results[0].Driver.isWinner ? 'season-table-row-winner' : ''" ><a href="{{race?.Results[0].Constructor?.url}}">{{race?.Results[0].Constructor?.name}}</a></td>
  </tr>
  </tbody>
</table>

<div class="loading-spinner-container">
  <div class="lds-default" *ngIf="ergastService.isLoading">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>